.about-section {
  padding: 40px;
  overflow-x: hidden;
}

.about-us {
  padding: 10px;
}

.about-us h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.about-us p {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 20px;
}

.mission-vision {
  display: flex;
  flex-direction: column;
  gap:0;
  justify-content: center;
  align-items: center;
}

.mission, .vision {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  gap: 0;
  box-sizing: border-box;
}

.mission-image, .vision-image {
  flex: 1;
  max-width: 100%;
  display: flex;
  position: relative;
  justify-content: flex-end;

}

.mission-image img, .vision-image img {
  width: clamp(200px,600px,100%);
  border-radius: 10px;
  z-index: 1;
  padding: 0;
}

.mission-text, .vision-text {
  background-color: #C0C0C0;
  margin-top: 10%;
  padding: 20px;
  border-radius: 5px;
  width: clamp(500px,600px,700px);
  padding-left: 5%;
  color: var(--text-black);
}

.mission-text h2, .mission-text p {
  color: var(--text-black);
  padding: 10px;
}

.mission-text h2, .vision-text h2 {
  font-size: 2.5rem;
  margin-bottom: 5px;
}

.mission-text p, .vision-text p {
  font-size: 1em;
  line-height: 1.6;
}



@media (max-width: 1080px) {
  .mission, .vision {
    flex-direction: column;
    text-align: center;
    height: auto; /* Let the height adapt to the content */
    padding: 20px; /* Padding ensures content doesn't touch the edges */
  }

  .mission-image, .vision-image {
    max-width: 100%;
    margin-bottom: 10px; /* Reduced margin to bring elements closer */
    justify-content: center;
  }

  .mission-text, .vision-text {
    background-color: rgb(255, 255, 88);
    padding: 20px;
    border-radius: 2px;
    padding-left: 0;
    color: var(--text-black);
    transform: none; /* Reset transform for small screens */
    position: relative; /* Reset positioning to flow with content */
    left: 0;
    bottom: 0;
    margin-top: -10px; /* Adjusts gap between image and text */
  }
}
