.portfolio{
  margin: 2rem 3rem;
}

.portfolio .portfolio-intro-container{
  margin-bottom: 3rem;
}

.portfolio-text-wrapper{
  display: flex;
}

.portfolio .portfolio-heading{
  font-size: clamp(3rem, 4vw, 4rem);
  margin: 2rem 0rem;
}

.portfolio-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.advantage-list{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.advantage-list ul {
  list-style: none;
  padding: 0rem 2rem;
  height: 100%;
  flex: 2;
}

.advantage-list .image-container{
  width: 100%;
  height: 100%;
  flex: 1;
}
.advantage-list .image-container img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: contain;
}


.advantage-list ul li {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  display: flex;
  align-items: baseline;
}

.advantage-list ul li i {
  margin-right: 10px;
  color: white;
}

.select-a-portfolio-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.select-a-portfolio-container .select-portfolio-header{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
}
.select-a-portfolio-container .select-portfolio-header h1{
  border-bottom: 1px solid var(--primary-color);
  padding-bottom: 10px;
  margin-bottom: 2rem;
}

.portfolio-templates-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 10px;
  margin-bottom: 5rem;
}

.portfolio-templates-container .portfolio-template-card{
  width: 400px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}


.portfolio-templates-container .portfolio-template-card .card-actions{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.template-preview-image{
  position: relative;
  height: 100%;
}

.template-preview-image:hover::before{
  opacity: 95%;
  background-color: yellow;
  width: 100%;

  transition: all 0.3s ease-in-out;
}
.template-preview-image:hover .view-text{
  opacity: 100%;
  transition: opacity 0.3s ease-in-out;
}

.template-preview-image::before{
  position: absolute;
  content: "";
  width: 5px;
  height: 100%;
  background-color:chartreuse;
}

.portfolio-templates-container .portfolio-template-card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.template-preview-image .view-text{
  position: absolute;
  color: rgb(37, 37, 37);
  text-align: center;
  width: 100%;
  height: 100%;
  align-items: center;
  font-weight: bold;
  top: 35%;
  opacity: 0;
}

.portfolio-templates-container .portfolio-template-card .template-title{
  width: 100%;
  text-align: center;
  margin: 0.5rem 0rem;
  padding: 5px;
}

.quote-btn, .live-preview-btn {
  padding: 10px 20px;
  width: 70%;
  background-color: rgba(0, 209, 178, 0.8); 
  color: #fff; 
  border-radius: 50px; 
  font-size: 1rem;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  z-index: 10; 
}

.get-quote{
  background-color: transparent;
  color: white;
}

.quote-btn:hover, .live-preview-btn:hover {
  background-color: #00d1b2; 
  color: #fff; 
}

@media(max-width:1080px){
  .advantage-list{
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
  }

}

@media(max-width:850px){
  
  .portfolio-templates-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }  
}