  #software-development {
    color: #fff;
    margin: 1rem 10rem;
    padding: 10px 20px;
    text-align: center;
  }
  
  .text-wrapper{
    display: flex;
    justify-content: center;
  }
 
  .para-primary{
    margin: 1rem 5rem;
  }
  /* Service List Styles */
.service-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.service-item {
  margin-bottom: 2rem; /* Spacing between services */
  padding: 1rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Subtle separator between items */
}

.service-title {
  font-size: 1.8rem;
  color: var(--primary-color); /* Accent color for the titles */
  margin-bottom: 0.5rem;
}

.service-description {
  font-size: 1.2rem;
  color: var(--text-secondary); /* Lighter color for descriptions */
  line-height: 1.6;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .service-title {
    font-size: 1.6rem;
  }

  .service-description {
    font-size: 1rem;
  }
}
